body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
	margin-left: 10em;
	margin-right: 10em;
}

#main_table {
    border-collapse: collapse;
    width: 100vw;
}

#main_table td {
    padding: 0;
    margin: 0;
    width: 100vw;
    text-align: center;
}

#iframe_container {
    overflow: scroll;
    height: auto;
    -webkit-overflow-scrolling: touch;
}

iframe {
    width: 100%;
    max-width: 35.1em;
}

#menu {
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    width: 100vw;
    margin: 0;
}

#menu > li {
    display: inline-block;
    width: 33.33vw;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    line-height: 2em;
}

#menu > li > span {
    display: block;
    width: 100%;
    background-color: hsl(240, 100%, 90%);
}

#menu > li > span:hover {
    background-color: hsl(240, 100%, 95%);
}

#menu > li > ol {
    display: none;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    margin: 0;
    width: 33.33vw;
}

#menu > li > ol > li {
    display: inline-block;
    width: 33.33vw;
    background-color: hsl(240, 100%, 90%);
}

#menu > li > ol > li:hover {
    background-color: hsl(240, 100%, 95%);
}

footer {
    margin-top: 3em;
    text-align: center;
    line-height: 2em;
}

footer > table {
    width: 100%;
}

footer > table td:nth-child(1) {
    width: 6em;
    text-align: right;
}

footer > table td:nth-child(2) {
    text-align: center;
    width: 5em;
}

footer > table td:nth-child(3) {
    width: 6em;
    text-align: left;
}

footer img {
    width: 4em;
    background-color: black;
}
