
body {
    margin: 0;
}

menu {
    padding: 0;
}

menu > table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #888;
}

menu > table td {
    width: 33.33%;
    padding: 0;
}

menu > table td a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5em 0;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: hsl(240, 50%, 30%);
    text-decoration: none;
}

menu > table td a:hover {
    color: hsl(240, 0%, 85%);
}

.tile-container {
    text-align: center;
}

.tile {
    display: inline-block;
    width: 10em;
    height: 6em;
    background-color: hsl(240, 10%, 95%);
    border-radius: 0.3em;
    margin: 1em;
    padding: 1em;
}

footer {
    text-align: center;
}

footer > hr {
    width: 50%;
}

