body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}










/********** menu **********/

menu {
    padding: 0;
}

menu > table {
    width: 100%;
    border-collapse: collapse;
}

menu > table td {
    width: 33.33%;
    padding: 0;
}

menu > table td a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5em 0;
    text-align: center;
    font-size: 1.4em;
    color: white;
    background-color: hsl(240, 50%, 30%);
    text-decoration: none;
}

menu > table td a:hover {
    color: hsl(240, 0%, 85%);
}

a {
    color: hsl(240, 50%, 30%);
}










/********** main **********/

.tile-container {
    text-align: center;
}

.tile {
    display: inline-block;
    width: 12em;
    height: 12em;
    background-color: hsl(240, 10%, 95%);
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 0.5em;
    line-height: 1em;
    overflow: hidden;
}

.tile > h1 {
    margin: 0.3em 0;
    font-size: 1.4em;
    color: hsl(240, 50%, 30%);
}

.tile > img {
    display: block;
    margin: 0.5em auto;
    width: 90%;
}










/********** footer **********/

footer {
    text-align: center;
    line-height: 2em;
}

footer > hr {
    width: 50%;
}

footer > table {
    width: 100%;
}

footer > table td:nth-child(1) {
    width: 6em;
    text-align: right;
}

footer > table td:nth-child(2) {
    text-align: center;
    width: 5em;
}

footer > table td:nth-child(3) {
    width: 6em;
    text-align: left;
}

footer img {
    width: 4em;
    background-color: black;
}
